@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Style+Script&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    
}


body {
    height:100vh;
    background-color: #E9E5F5;
}


#valentines-background-image {
    width: 100%;
    position:absolute;
    z-index: -10;
    height: 100%;
    transition: filter 3s ease;
}

#valentines-background-image.rain-background {
    filter: brightness(25%) contrast(150%);
    transition: 3s ease;
}

#main-container {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cat-image-container {
    width: 100%;
    height: 100%;
    /* top: 25%; */
    position: absolute;
    display: flex;
    justify-content: center;
}

#transition-container {
    width: 420px;
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
}

#cat-image {
    width: 50%;
    position: absolute;
    top: 0;
}

.cat-default {
    top: 50%;
    transition: top 1s 0s ease;
}

.hide-cat {
    top: 50%;
    transition: top 0.5s 0s ease;
}

.show-cat {
    top: 0%;
    transition: top 0.5s 0s ease;
}


.hidden {
    display: none;
}

#card-container{
    position: absolute;
    display: flex;
    width: fit-content;
    top: 25%;
}

#card-container-cover {
    background-color: #E9E5F5;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
}

#valentines-card-image {
    width: 420px;
    box-shadow: 4px 4px 5px gray;
    border-radius: 3px;
}

#card-text-content {
    position:absolute;
    top: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#card-message {
    font-size: 1.7em;
    font-family: "Style Script", cursive;
    font-weight: bold;
    width: 60%;
    text-align: center;
}

#card-buttons-container {
    display: flex;
    gap: 20px;
}

.card-buttons {
    border: 1px solid rgb(245, 75, 75);
    border-radius: 4px;
    background-color: pink;
    font-family: cursive;
    font-weight: bold;
    padding: 3px 10px;
    width: 100px;
    cursor: pointer;
    margin-top: 20px;
}

.card-buttons:hover {
    background-color: red;
    color:white;
    box-shadow: 2px 2px 3px gray;
}

#cat-yes {
    width: 200px;
    height: 200px;
    position: absolute;
    top:20%;
    visibility: hidden;
    transition: top 1s ease, visibility 1s 3s ease;
    z-index: -4;
}

#cat-yes.active {
    top: 0;
    visibility: visible;
    transition: top 2s 0.5s ease;
}

#cat-heart {
    width: 200px;
    height: 200px;
    position: absolute;
    top:20%;
    visibility: hidden;
    transition: top 1s ease, visibility 1s 3s ease;
    z-index: -4;
}

#cat-heart.active {
    top: 0;
    visibility: visible;
    transition: top 2s 1s ease;
}

.selected {
    background-color: red;
    color:white;
    box-shadow: 2px 2px 3px gray;
}

.hidden {
    display: none;
    transition: 2s ease;
}

#cat-cry {
    width: 300px;
    height: 280px;
    position: absolute;
    top:20%;
    visibility: hidden;
    transition: top 1s ease, visibility 1s 3s ease;
    z-index: -4;
}

#cat-cry.active {
    top:0;
    visibility: visible;
    transition: top 2s 0.5s ease;
}

#cat-cry > img {
    width: 100%;
}

#cat-yes > img {
    width: 100%;
}

#cat-heart > img {
    width: 100%;
}


#hearts-container{
    position: absolute;
    width: 100%;
}

.heart {
    position: fixed;
    width: 1.5rem;
    top: -1vh;
    transform: translateY(0);
    animation: fall 1s infinite linear forwards;
}

.shoot-heart {
    position: absolute;
    width: 1.5rem;
    transform: translateY(0);
    animation: shoot 1s forwards 2 linear;
    bottom: 45%;
}

.rain {
    position: fixed;
    top: -1vh;
    transform: translateY(0);
    animation: rain 1s infinite linear forwards;
    z-index: 10;
    rotate: 5deg;
    color: rgb(60, 60, 174);
}

.rainy {
    background-color: rgb(34, 34, 34);
    z-index: 10;
    transition: 3s linear;
}

#player {
    position: absolute;
    top: -9999px;
    left: -9999px;
}



@keyframes rain {
    0% {
        transform: translateY(0vh);
    }

    100% {
        transform: translateY(100vh);
    }
}

@keyframes shoot {
    from {
        transform: translateY(0vh);
    }

    to {
        transform: translateY(-100vh);
    }
}

@keyframes fall {
    0%{
        transform: translateY(0vh)
    }

    100% {
        transform: translateY(100vh)
    }
}


@media screen and (min-width: 400px)  and (max-width: 500px) {
    #valentines-card-image {
        top: 0;
        width: 100vw;
    }

    #cat-heart {
        width: 200px;
        height: 200px;
        position: absolute;
        top:40%;
        visibility: hidden;
        transition: top 1s ease;
        z-index: -4;
    }
    

    #hearts-container{
        left: 42%
    }

    #cat-cry {
        width: 300px;
        height: 280px;
        position: absolute;
        top:40%;
        visibility: hidden;
        transition: top 1s ease;
        z-index: -4;
    }
    
    #cat-cry.active {
        top:12%;
        visibility: visible;
        transition: top 2s 0.5s ease;
    }

    #cat-yes {
        width: 200px;
        height: 200px;
        position: absolute;
        top:40%;
        visibility: hidden;
        transition: top 1s ease;
        z-index: -4;
    }

    #cat-yes.active {
        top: -5%;
        visibility: visible;
        transition: top 2s 0.5s ease;
    }
}